* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header {
  color: #fff;
  background-color: #1f2937;
  width: auto;
  height: 530px;
  border-bottom: 2px solid #fff;
}

.header,
.main-content {
  display: flex;
  align-items: center;  /* Vertically align items within each section */
  padding: 10px 20px;
}

.header {
  justify-content: space-between; /* Horizontally space out logo and navigation */
}

.logo-container {
  flex: 0 0 auto; /* Allow logo to shrink but not grow */
  font-size: 24px;
  color: #F9faf8;
}

.navigation {
  flex: 1; /* Allow navigation to grow and fill available space */
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;  /* Remove default bullet points */
  font-size: 18px;
  color: #E5E7EB;
  margin: 0;  /* Remove default margin */
  padding: 0;  /* Remove default padding */
}

.nav-item {
  margin-right: 20px; /* Add space between navigation items */
}

.main-content {
  flex-direction: column; /* Stack elements vertically within this section */
  text-align: center;  /* Center text content horizontally */
}

.title-section,
.text-section,
.image-container,
.signup-button {
  margin-bottom: 20px; /* Add space between elements */
}


.title-section {
  font-size: 48px;
  color: #F9faf8;
}

.text-section {
  font-size: 18px;
  color: #E5E7EB;
}

.placeholder-image-container {
  display: flex;
  flex: 0 0 auto;  /* Allow image to shrink but not grow */
}

.signup-button {
  flex: 1;  /* Allow button to shrink but not grow */
  background-color: #3498db; /* Set button background color */
  color: #fff;  /* Set button text color */
  padding: 8px 16px;  /*Add padding to button */
  border: none; /* Remove default button border */
  border-radius: 4px; /* Add rounded corners to button */
}

.signup-button a {
  color: inherit;  /* Inherit button text color */
  text-decoration: none;  /* Remove underline from link */
}

  .footer {
    color: #fff;
    background-color: #1f2937;
    text-align: center;
    padding: 35px;
  }